
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-envelope-closed:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-pin:before {
  content: "\e901";
}
.icon-map-marker:before {
  content: "\e901";
}
.icon-marker:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-date:before {
  content: "\e902";
}
.icon-schedule:before {
  content: "\e902";
}
.icon-diamond:before {
  content: "\e90d";
}
.icon-star-half:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-angle-down:before {
  content: "\e905";
}
.icon-angle-up:before {
  content: "\e906";
}
.icon-angle-right:before {
  content: "\e907";
}
.icon-angle-left:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-angle-down1:before {
  content: "\e90a";
}
.icon-child:before {
  content: "\e90b";
}
.icon-tripadvisor:before {
  content: "\e90c";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
