/*
* Mixin for easy media queries
* @include bp(tablet-only) { SCSS here };
* Default css is for mobile screens
*/

@font-face {
  font-family: "icomoon";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
}

@font-face {
  font-family: "Kantipur";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/kantipur/Kantipur.eot");
  src: url("../fonts/kantipur/Kantipur.eot?#iefix") format("embedded-opentype"), url("../fonts/kantipur/Kantipur.woff") format("woff"), url("../fonts/kantipur/Kantipur.ttf") format("truetype"), url("../fonts/kantipur/Kantipur.svg#Kantipur") format("svg");
}

@font-face {
  font-family: "Ananda";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ananda1hv/Ananda1Hv.eot");
  src: url("../fonts/ananda1hv/Ananda1Hv.eot?#iefix") format("embedded-opentype"), url("../fonts/ananda1hv/Ananda1Hv.woff") format("woff"), url("../fonts/ananda1hv/Ananda1Hv.ttf") format("truetype"), url("../fonts/ananda1hv/Ananda1Hv.svg#Ananda") format("svg");
}

@font-face {
  font-family: "Mukta";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/mukta/Mukta-Regular.eot");
  src: url("../fonts/mukta/Mukta-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mukta/Mukta-Regular.woff") format("woff"), url("../fonts/mukta/Mukta-Regular.ttf") format("truetype"), url("../fonts/mukta/Mukta-Regular.svg#Mukta") format("svg");
}

/*Sass Variables---------------------------------------------------------------------------*/

/*=Global
---------------------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: rgba(15, 37, 85, 0.8);
  font-size: 1.7rem;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport {
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem;
  font-family: "Ananda", sans-serif;
  line-height: 1.25;
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 6rem;
  line-height: 1.067;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.8rem;
}

strong {
  font-weight: 600;
}

p {
  margin: 0 0 20px 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

input:focus,
button:focus {
  outline: none;
}

a {
  -webkit-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  color: #000000;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #3b6bb2;
}

.clear {
  clear: both;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}

.icon-cloud:before {
  content: "\e901";
}

.icon-youtube:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-clock:before {
  content: "\e905";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-map:before {
  content: "\e94b";
}

.icon-search:before {
  content: "\e986";
}

.form-control {
  height: 50px;
  padding: 0.5rem 1.5rem;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 10px;
  padding-right: 10px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.lh-small {
  line-height: 1.1;
}

.lh-medium {
  line-height: 1.3;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 5rem;
  border-radius: 0;
  border-width: 2px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #3b6bb2;
  border-color: #3b6bb2;
}

.btn-primary:hover {
  background-color: transparent;
  color: #3b6bb2;
  border-color: #3b6bb2;
}

.desc {
  text-align: left;
}

.heading {
  position: relative;
}

.heading:before {
  content: '';
  width: 100px;
  background-color: #3b6bb2;
  height: 3px;
  position: absolute;
  top: -20px;
  left: 0;
}

.bg-image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-overlay {
  position: relative;
  z-index: 1;
}

.bg-overlay:before {
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  content: "";
}

.gutter-lg-90 {
  margin-left: -45px;
  margin-right: -45px;
}

.gutter-lg-90 > .col,
.gutter-lg-90 > [class*="col-"] {
  padding-left: 45px;
  padding-right: 45px;
}

.advert {
  padding: 20px 15px;
}

.pre-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow: hidden;
  z-index: 999;
}

.pre-load:before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F2555), to(#3b6bb2)) #000000;
  background: -webkit-linear-gradient(top, #0F2555, #3b6bb2) #000000;
  background: -o-linear-gradient(top, #0F2555, #3b6bb2) #000000;
  background: linear-gradient(to bottom, #0F2555, #3b6bb2) #000000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.pre-load:after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0F2555), to(#3b6bb2)) #000000;
  background: -webkit-linear-gradient(top, #0F2555, #3b6bb2) #000000;
  background: -o-linear-gradient(top, #0F2555, #3b6bb2) #000000;
  background: linear-gradient(to bottom, #0F2555, #3b6bb2) #000000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.pre-load.complete:before {
  left: -50%;
}

.pre-load.complete:after {
  right: -50%;
}

.pre-load .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 75%;
  left: 49.3%;
  z-index: 999;
  -webkit-transform: translate(-50% -50%);
  -ms-transform: translate(-50% -50%);
  transform: translate(-50% -50%);
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.pre-load .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.nepmed-loader {
  color: white;
  z-index: 99999;
  position: fixed;
  top: 55%;
  left: 47%;
  font-size: 42px;
  font-weight: 700;
}

.nepmed-loader img {
  position: fixed;
  top: 45%;
  left: 40%;
}

.main-nav {
  font-size: 1.5rem;
  padding: 35px 0;
  margin-bottom: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav .navbar-nav > .menu-item:not(:last-child) {
  margin-right: 3.5rem;
}

.main-nav .menu-item a {
  color: rgba(15, 37, 85, 0.8);
  font-size: 18px;
}

.main-nav .menu-item a:hover {
  color: rgba(59, 107, 178, 0.8);
}

.main-nav .menu-item.current-menu-item > a {
  font-weight: bold;
  color: rga(#3b6bb2, 0.8);
}

.btn-box {
  background-color: #3b6bb2;
  color: #FFFFFF;
  padding: 15px 25px 10px;
}

.ticker .marquee-content-items li:after {
  content: "|";
  margin: 0 1em;
}

.social-icons-inline {
  font-size: 1.7rem;
}

.social-icons-inline a {
  color: #202526;
}

.social-icons-inline a:not(:last-child) {
  margin-right: 1rem;
}

.section {
  padding: 1.5rem 0 3.5rem;
}

.section .section-with-bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.three-div__item {
  padding: 10px;
}

.full-bg-section {
  position: relative;
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-bg-section h4 a {
  color: #FFFFFF;
}

.image-box img {
  width: 100%;
}

.side-item__item {
  padding-top: 1.5rem;
}

.side-item__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-item__item .calendar {
  font-size: 1.6rem;
}

.three-slider .slick-dots,
.four-slider .slick-dots {
  position: absolute;
  top: -35px;
  right: 20px;
}

.three-slider .slick-dots li,
.four-slider .slick-dots li {
  display: inline;
  margin-right: 5px;
}

.three-slider .slick-dots li button,
.four-slider .slick-dots li button {
  overflow: hidden;
  background: #0F2555;
  height: 12px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.three-slider .slick-dots li.slick-active button,
.four-slider .slick-dots li.slick-active button {
  background: #3b6bb2;
}

.isotope-section .iso-title {
  list-style: none;
}

.isotope-section .iso-title li {
  display: inline;
  cursor: pointer;
}

.isotope-section .iso-title li:not(:last-child) {
  margin-right: 15px;
}

.isotope-section .iso-title li .is-checked {
  color: #3b6bb2;
  font-weight: 600;
}

.isotope-section .item {
  margin-bottom: 30px;
}

.isotope-section .item img {
  position: relative;
  z-index: -1;
}

.isotope-section .item__wrapper {
  position: relative;
}

.isotope-section .item__wrapper .item__desc {
  background-color: #fbfbfb;
  z-index: 3;
  padding: 10px 20px;
  width: 75%;
  z-index: 1;
  margin-top: -50px;
}

.isotope-section .item__wrapper .item__desc .calendar {
  margin-bottom: 20px;
}

.isotope-section .item__wrapper .item__title {
  font-weight: 500;
  margin-top: auto;
}

.advert-side .first {
  margin-bottom: 20px;
}

.four-slider .cat {
  background: #3b6bb2;
  padding: 8px 15px 5px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.four-slider .item div {
  padding: 0 1em;
}

.site-footer {
  padding: 2.5em 0 0.8em;
  background-color: #0F2555;
  color: #FFFFFF;
}

.site-footer .foot-top {
  padding: 3.5rem 0 5rem;
}

.site-footer a {
  color: #FFFFFF;
}

.site-footer h4 {
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

.site-footer h4 span {
  border-bottom: 1px solid #fbfbfb;
}

.site-footer ul {
  margin-top: 10px;
  text-align: left;
  position: relative;
  left: 0;
}

.site-footer ul li {
  display: block;
}

.site-footer ul li:before {
  content: '';
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 6px;
  margin-bottom: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.face {
  display: inline;
}

.face img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.border-to-bottom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.blog-detail {
  padding-top: 50px;
}

.blog-detail__content p {
  margin-bottom: 20px;
}

.blog-detail__content figure {
  margin-bottom: 1rem;
}

.blog-detail__content img {
  width: 100%;
  height: 100%;
}

.blog-single .related .title,
.blog-single .social .title {
  margin-top: 20px;
  position: relative;
  font-size: 2.4rem;
  font-weight: bold;
  color: #000000;
}

.blog-single .related .title:after,
.blog-single .social .title:after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: #3b6bb2;
  left: 0;
  bottom: 0px;
}

.blog-single .related ul,
.blog-single .social ul {
  list-style: none;
}

.blog-single .related ul li,
.blog-single .social ul li {
  font-weight: 600;
}

.blog-single .related ul li:not(:last-child),
.blog-single .social ul li:not(:last-child) {
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}

.blog-single .social ul {
  list-style: none;
  margin-top: 15px;
}

.blog-single .social ul li {
  display: inline;
}

.blog-single .social ul li:not(:last-child) {
  border-bottom: none;
}

.blog-single .social ul li a {
  font-size: 40px;
  margin-right: 15px;
}

.height-increase {
  height: 600px;
}

.banner .banner-image {
  position: relative;
}

.banner .banner-image .banner-content {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(41, 38, 38, 0.9);
}

.banner .banner-image .desc-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner .banner-image .desc-banner .title {
  font-weight: 700;
  font-size: 7rem;
  color: #FFFFFF;
}

.pagination .page ul li {
  display: inline-block;
}

.pagination .page ul li a {
  margin: 0 10px;
  padding: 5px 15px;
}

.pagination .page ul li a.active {
  background-color: #3b6bb2;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .full-bg-section {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .full-bg-section {
    height: 550px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1210px;
  }
}

@media (max-width: 991px) {
  .nepmed-loader img {
    left: 33%;
  }

  .section {
    padding: 1rem 0 2.5;
  }
}

@media (max-width: 767px) {
  .loader {
    left: 46%;
    top: 65%;
  }

  .nepmed-loader img {
    left: 18%;
  }

  .three-slider .slick-dots,
  .four-slider .slick-dots {
    position: static;
  }

  .isotope-section .iso-title li:not(:last-child) {
    margin-right: 8px;
  }

  .site-footer h4 {
    margin-top: 4rem;
  }

  .height-increase {
    height: 400px;
  }
}

@media (min-width: 470px) and (max-width: 768px) {
  .loader {
    top: 75%;
    left: 46%;
  }
}