/*!
 * jQuery Conveyor Ticker (jConveyorTicker)
 * Description: jQuery plugin to create simple horizontal conveyor belt animated tickers.
 *
 * Copyright (c) 2017 Luis Luz - UXD Lda
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Project home:
 *   https://github.com/lluz/jquery-conveyor-ticker
 *
 * Version:  1.0.2
 *
 */
 
 .jctkr-wrapper,
 .jctkr-wrapper *{
   box-sizing: border-box;
 }
 .jctkr-wrapper{
   display: inline-block;
   position: relative;
   width: 100%;
   height: 35px;
   vertical-align: top;
   overflow: hidden;
 }
 .jctkr-wrapper ul{
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   margin: 0;
   padding: 1px 10px;
   list-style: none;
   white-space: nowrap;
   font-size: 0;
   opacity: 0;
   -webkit-transition: opacity 1s;
   transition: opacity 1s;
 }
 .jctkr-wrapper.jctkr-initialized ul{
   opacity: 1;
 }
 .jctkr-wrapper ul li{
   display: inline-block;
   font-size: 16px;
   padding-right: 20px;
 }
 .jctkr-label{
   display: inline-block;
 }